<!-- views/partials/footer.ejs -->

<p class="text-center text-muted">© Copyright 2014 The Awesome Chartist</p>

<script src="javascripts/chartist.min.js"></script>
<script src="javascripts/custom.js"></script>